// Footer
footer {
  background-color: #fff;
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6a6a6a;
  @media (max-width: $breakpoint768) {
    font-size: 12px;
    line-height: 1.5;
  }
}
.footer {
}

.footer_logo {
  display: block;
  margin-bottom: 19px;
}
.text_container {
  display: flex;
  gap: 65px;

  margin-bottom: 60px;
  @media (max-width: $breakpoint768) {
    flex-direction: column;
    gap: 24px;
  }
}
.footer_text {
  width: 360px;
  @media (max-width: $breakpoint768) {
    width: 100%;
  }
}
.footer_columns {
  gap: 65px;
  display: flex;
  @media (max-width: $breakpoint768) {
    justify-content: center;
    gap: 40px;
  }
  @media (max-width: $breakpoint480) {
    justify-content: center;
    gap: 10px;
  }
}

.footer_social_networks {
  display: flex;
  gap: 11px;
  padding-bottom: 34px;
  border-bottom: 1px solid #eff2f1;
  @media (max-width: $breakpoint768) {
    padding-bottom: 18px;
  }
}

.footer_social_networks a {
  width: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #d9d9d9;
  height: 41px;
}

.footer_item ul li a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #6a6a6a;
  @media (max-width: $breakpoint768) {
    font-size: 11px;
    line-height: 2;
  }
}

.footer_copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  padding-bottom: 93px;
  @media (max-width: $breakpoint768) {
    margin-top: 18px;
    padding-bottom: 32px;
  }
}

.footer_copyright div {
  display: flex;
  justify-content: center;
  gap: 42px;
}
